* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #f5cac2;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    width: 33%;
    margin: 5vh auto 0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #141850;
}

.list {
    display: flex;
    margin: 20px 0;
}

.list div {
    height: 80px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.profile h4 {
    margin: 3px 0;
    font-size: 16px;
    letter-spacing: 2px;
    color: #303179;
}

.profile p {
    color: #636485;
}

.profilepic {
    width: 80px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-top: 30px;
}

footer button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    color: white;
    background-color: #ed7966;
}

@media screen and (max-width: 768px) {
    .app {
        width: 80%;
    }
}